html, body {
    margin: 0;
    padding: 0;
}
button {
    /* width: 10em;
    height: 3em; */
    padding: 0.5em 1.25em;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover {
    cursor: pointer;
    background: lightgray;
}

.pause-btn{
    background: orange;  
}
.continue-btn{
    background: greenyellow; 
}
.stop-btn{
    background: red; 
}

.container,
.button-container,
.timer {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #C7A0FF;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.timer,
button {
    margin: 0.5em;
    border-radius: 20px;
}

.timer {
    height: 8em;
    width: 20em;
    background-color: white;
    box-shadow: 2px 2px 8px #444;
    align-items: center;
    padding: 1em;
}

.timer p {
    font-size: 75px;
}
.log{
    width: 50%;
    height: 8em;
    border: 1px solid #000;
    overflow-y: scroll;
}
#log h4, #log p{
    display: inline-block;
}
